*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina_cadastro{
    min-height: 79.2vh;
    background-image: url('../../../assets/Imagens/emojiRindo.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login_link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.login_link a{
    color: rgb(33, 72, 164);
    text-decoration: none;
}

.login_link a:hover{
    text-decoration: underline;
}

.login_link p{
    color: rgb(33, 72, 164);
}