footer{
    text-shadow: 100px rgba(255, 255, 255, 0.1);
    background-color: rgb(255, 238, 151);
    text-align: center;
    font-size: large;
    color: #0f2b66;
    padding: 20px;
    bottom: 0;
    right:0;
    left:0;
   position: fixed;
    width:100;
}

footer a{
    text-decoration: none;
    color: #0f2b66;
}

footer a:hover{
    text-decoration: underline;
}