*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina_unauthorized{
    min-height: calc(100vh - 180px);
    background-image: url('../../../assets/Imagens/emojiRindo.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.container_unauthorized{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_unauthorized h1{
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.container_unauthorized p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.btn_voltar{
    width: 100%;
    max-width: 300px;
    height: 50px;
    background-color: #fff;
    color: rgb(209, 182, 5);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 0.3s ease;
}

.btn_voltar:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
